body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

h1 {
    color: #333;
}
div{
    border: 1px solid #ccc;
    max-width: 500px;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
}
form {
    max-width: 300px;
    border: 1px solid #ccc;
    margin: 0 auto;
    border-radius: 5px;
    padding: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px; 
}

button:hover {
    background-color: #45a049;
}

#resultado {
    max-width: 300px;
    margin-top: 20px;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}